.rdrDay {
  cursor: default !important;
}
.rdrDay:has(.rdrStartEdge),
.rdrDay:has(.rdrInRange),
.rdrDay:has(.rdrEndEdge) {
  cursor: pointer !important;
}

.MuiMenu-root .MuiPaper-root {
  padding: 0px !important;
  padding-top: 25px !important  ;
}
